{% extends "main.html" %}

{% block content %}
<div class="container">
  <h1>Welcome to ChatApp!</h1><br>
{% if request.user.is_authenticated %}
<form class="row g-3" method="POST" action="">
    {% csrf_token %}
    <div class="col-auto">
      <input type="text" class="form-control" name="roomName" id="roomname" placeholder="Enter room's name here...">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Join Room</button>
    </div>
  </form>
{% else %}
    <h2>Login to join a Room....
    <a class="container" href="{% url 'login' %}">Login</a></h2>
{% endif %}
</div>

{% endblock content %}